<div>
  <li *ngFor="let baby of BABIES">

  
  <mat-card class="card">
    <mat-card-header>
        <img mat-card-avatar [src]="baby?.avatar">
        <mat-card-title>cardTemplate {{baby?.name}}</mat-card-title>
        <mat-card-subtitle>{{baby?.relation}}</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image [src]="baby?.img">
    <mat-card-content>
      <p>
          Recent Milestone : {{baby?.currentMilestone}}
          <br>Possible Next Milestone : {{baby?.nextMilestone}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</li>
</div> 

