<div class="sidebar">
    <!-- <img [src]="getImageUrl()" class="profile-image">
    <h4 *ngIf="account" jhiTranslate="global.menu.greet"  [translateValues]="{username: account.firstName}"></h4>  -->

    <div class="leftbar">
        
        //<a class="left-bar-item" routerLink="./news" >news</a><br>

        <a class="left-bar-item" routerLink="./addbaby" >Addbaby</a><br>
        <a class="left-bar-item" [routerLink]="['./addbaby']" >Addbaby</a><br>
        <a class="left-bar-item" routerLink="./card" >card</a><br>
        <a class="left-bar-item" [routerLink]="['./card']">card</a><br>
        

    </div>
</div>

<!-- {{<lio-card *ngFor="let myBaby of myBabyList" [baby]="myBaby"></lio-card>}} -->
<!-- *ngFor="let myBaby of myBabyList" [baby]="myBaby" -->