.sidebar {
  height: 100%;
  position: static;
  background-color: whitesmoke;
  padding-top: 60px;
}
.header-image1 {
  background-image: url('https://images.unsplash.com/photo-1569095380079-90096b58b1d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: center;
  padding: 15px, 15px;
}
