<div class="sidebar">
    <img [src]="getImageUrl()" class="profile-image">
    <h4 *ngIf="account" jhiTranslate="global.menu.greet"  [translateValues]="{username: account.firstName}"></h4> 
    <!-- <h2 *ngIf="account" jhiTranslate="home.logged.message"
    [translateValues]="{username: account.firstName}"></h2> -->

    <!-- leftbar.name login yada profil name olabilir -->



    <div class="leftbar">
        <a class="left-bar-item" href="">Baby</a><br>
        <a class="left-bar-item" href="">Upcoming</a><br>
        <a class="left-bar-item" href="">News</a><br>
        <a class="left-bar-item" href="">Settings</a><br>
    </div>
</div>
